@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #8c7242;
$secondary: #f2cb9b;
$background: #000000;
$text-color: #ffffff;

